<!DOCTYPE html>
<html lang="en">
<head>
        <% include ../partials/head %> 
</head>
<body>
    <div class="container w-50 h-50 p-10 m-10" style="margin-top:100px;">
        <h2 class="text-secondary"><%=msg%></h2>
    </div>
    
</body>
</html>