<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="">
    <title>home</title>
</head>
<body>
    <header><% include ../partials/header %></header>
    <div class="container m-3 p-5" style="height:100vh;">
        <h2 class="m-5">MovieWorld</h2>
    </div>
</body>
<footer><% include ../partials/footer %></footer>
</html>